.empty-cart {
  h1 {
    font-family: $font-semi-bold;
    margin-bottom: 40px;
  }

  h4 {
    font-family: $font-regular;
    color: #686868;
    margin-bottom: 40px;
  }

  button {
    background-color: $purple;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    transition: background-color 0.2s ease;
    cursor: pointer;
    color: white;
    font-family: $font-semi-bold;
    font-size: 1.2rem;
    border-radius: 3px;

    &:hover {
      background-color: $active-color;
      transition: background-color 0.2s ease;
    }
  }
}